/* style.css */

h1 {
    text-align: center;
    color: purple;
}

a:visited {
    color: green;
}

.center-img {

}

img {
    display: block;
    height: auto;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}